{% extends 'search.html' %}

{% block rower %}

{% if data['items'] %}
{% for entry in data['items'] %}
    <h2 class='title'>
        Forty Minute Test {{ entry['date'] }}
    </h2>

    <body> 
    <table class='table-1'> 
        <thead>
            <tr>
                <th class='header-left'> Rank </th>
                <th class='header-left'> Name </th>
                <th class='header'> 4' </th>
                <th class='header'> 8' </th>
                <th class='header'> 12' </th>
                <th class='header'> 16' </th>
                <th class='header'> 20' </th>
                <th class='header'> 24' </th>
                <th class='header'> 28' </th>
                <th class='header'> 32' </th>
                <th class='header'> 36' </th>
                <th class='header'> 40' </th>
                <th class='header'> Avg Split </th>
                <th class='header'> Avg Rate </th>
                <th class='header'> Meters </th>
                <th class='header'> Weight </th>
            </tr>
        </thead>
        <tbody>
            {% for rower in entry['rowers'] %}
            <tr>                
                <td class='result-left'> {{ rower['Rank'] }} </td> 
                <td class='result-left'> {{ rower['Name'] }} </td>
                <td class='result'> {{ rower['4']['String'] }} </td>
                <td class='result'> {{ rower['8']['String'] }} </td>
                <td class='result'> {{ rower['12']['String'] }} </td>              
                <td class='result'> {{ rower['16']['String'] }} </td>
                <td class='result'> {{ rower['20']['String'] }} </td>
                <td class='result'> {{ rower['24']['String'] }} </td>
                <td class='result'> {{ rower['28']['String'] }} </td>
                <td class='result'> {{ rower['32']['String'] }} </td>
                <td class='result'> {{ rower['36']['String'] }} </td>
                <td class='result'> {{ rower['40']['String'] }} </td>
                <td class='result'> {{ rower['Avg Split']['String'] }} </td>
                <td class='result'> {{ rower['Avg SPM'] }} </td>
                <td class='result'> {{ rower['Meters'] }} </td>
                <td class='result'> {{ rower['Weight'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endif %}

{% endblock %}