{% extends 'search.html' %}

{% block rower %}

{% if data['items'] %}
{% for entry in data['items'] %}
    <h2 class='title'>
        Max Watt Test {{ entry['date'] }}
    </h2>

    <body> 
    <table class='table-2'> 
        <thead>
            <tr>
                <th class='header-left'> Rank </th>
                <th class='header-left'> Name </th>
                <th class='header-left'> Watt 1 </th>
                <th class='header-left'> Watt 2 </th>
                <th class='header-left'> Watt 3 </th>
                <th class='header-left'> Average </th>
                <th class='header-left'> High </th>
            </tr>
        </thead>
        <tbody>
            {% for rower in entry['rowers'] %}
            <tr>                
                <td class='result-left'> {{ rower['Rank'] }} </td> 
                <td class='result-left'> {{ rower['Name'] }} </td>
                <td class='result-left'> {{ rower['Watt 1'] }} </td>
                <td class='result-left'> {{ rower['Watt 2'] }} </td>              
                <td class='result-left'> {{ rower['Watt 3'] }} </td>
                <td class='result-left'> {{ rower['Average'] }} </td>
                <td class='result-left'> {{ rower['High'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endif %}

{% endblock %}