{% extends 'search.html' %}

{% block rower %}

{% if data['items'] %}
{% for entry in data['items'] %}
    <h2 class='title'>
        One Minute Test {{ entry['date'] }}
    </h2>

    <body> 
    <table class='table-2'> 
        <thead>
            <tr>
                <th class='header-left'> Rank </th>
                <th class='header-left'> Name </th>
                <th class='header'> Avg Split </th>
                <th class='header'> Avg Rate </th>
                <th class='header'> Meters </th>
                <th class='header'> Weight </th>
            </tr>
        </thead>
        <tbody>
            {% for rower in entry['rowers'] %}
            <tr>                
                <td class='result-left'> {{ rower['Rank'] }} </td> 
                <td class='result-left'> {{ rower['Name'] }} </td>
                <td class='result'> {{ rower['Avg Split']['String'] }} </td>
                <td class='result'> {{ rower['Avg SPM'] }} </td>
                <td class='result'> {{ rower['Meters'] }} </td>              
                <td class='result'> {{ rower['Weight'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endif %}

{% endblock %}