{% extends 'search.html' %}

{% block rower %}

{% if data['items'] %}
{% for entry in data['items'] %}
    <h2 class='title'>
        1 Rep Max Test {{ entry['date'] }}
    </h2>

    <body> 
    <table class='table-3'> 
        <thead>
            <tr>
                <th class='header'> Rank </th>
                <th class='header-left'> Name </th>
                <th class='header'> Squat </th>
                <th class='header'> Deadlift </th>
                <th class='header'> Average </th>
            </tr>
        </thead>
        <tbody>
            {% for rower in entry['rowers'] %}
            <tr>                
                <td class='result'> {{ rower['Rank'] }} </td> 
                <td class='result-left'> {{ rower['Name'] }} </td>
                <td class='result'> {{ rower['Squat'] }} </td>
                <td class='result'> {{ rower['Deadlift'] }} </td>
                <td class='result'> {{ rower['Average'] }} </td>              
                <td class='result'> {{ rower['Weight'] }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endif %}

{% endblock %}